openapi: 3.0.0
info:
  version: 1.0.0
  title: Unofficial NASA OpenAPI Specification
  description: |
    NASA provides free APIs for the public at https://api.nasa.gov/.

    Go there, sign up for an API key, and start using this OpenAPI specification.

servers:
  - url: https://api.nasa.gov
    description: NASA OpenAPI server

paths:
  /planetary/earth/imagery:
    get:
      x-name: Earth Imagery Image
      description: |
        This endpoint retrieves the Landsat 8 image for the supplied location and
        date. The response will include the date and URL to the image that is
        closest to the supplied date. The requested resource may not be available
        for the exact date in the request. You can retrieve a JSON that contains
        the inputs you provided and a URL to the resulting image through the
        assets endpoint. The assets endpoint no longer returns a list of potential
        images within your date range due to a change on the Google Earth Engine
        API side.

        Note that the returned object may not match the supplied date exactly.
        Instead, the image closest to the supplied date is returned.

        The cloud score was an optional calculation that returns the percentage of
        the queried image that is covered by clouds, but it is not available in
        current versions of the API. If False If HTTP Request
      parameters:
        - $ref: '#/components/parameters/Latitude'
          required: true
          example: 1.5
        - $ref: '#/components/parameters/Longitude'
          required: true
          example: 100.75
        - $ref: '#/components/parameters/Dimensions'
        - $ref: '#/components/parameters/ImageDate'
          required: true
          example: 2018-01-01
        - name: cloud_score
          in: query
          description: NOT CURRENTLY AVAILABLE!!!! calculate the percentage of the image covered by clouds
          schema:
            type: boolean
        - $ref: '#/components/parameters/ApiKey'
          required: true
      responses:
        '200':
          description: Image retrieved successfully
          content:
            image/png:
              schema:
                type: string
                format: binary
        '400':
          description: Bad request
        '403':
          description: API key is invalid or missing
  /planetary/earth/assets:
    get:
      x-name: Earth Imagery Assets
      description: |
        This endpoint retrieves the date-times and asset names for closest available
        imagery for a supplied location and date. The satellite passes over each point
        on earth roughly once every sixteen days. This is an amazing visualization of
        the acquisition pattern for Landsat 8 imagery. The objective of this endpoint
        is primarily to support the use of the imagery endpoint.
      parameters:
        - $ref: '#/components/parameters/Latitude'
          required: true
          example: 1.5
        - $ref: '#/components/parameters/Longitude'
          required: true
          example: 100.75
        - $ref: '#/components/parameters/Dimensions'
        - $ref: '#/components/parameters/ImageDate'
          required: true
          example: 2018-01-01
        - $ref: '#/components/parameters/ApiKey'
          required: true
      responses:
        '200':
          description: Image assets retrieved successfully
          content:
            application/json:
              schema:
                type: object
        '400':
          description: Bad request
        '403':
          description: API key is invalid or missing
components:
  parameters:
    ApiKey:
      name: api_key
      in: query
      description: Your API Key
      schema:
        type: string
    Latitude:
      name: lat
      in: query
      description: Latitude
      schema:
        type: number
    Longitude:
      name: lon
      in: query
      description: Longitude
      schema:
        type: number
    Dimensions:
      name: dim 
      in: query
      description: Width and height of image in degrees
      schema:
        type: number
    ImageDate:
      name: date
      in: query
      description: Date of image; if not supplied, then the most recent image (i.e., closest to today) is returned
      schema:
        type: string
        format: date
