# ABSTRACT: JSON Schema for WebService::NASA
# PODNAME: WebService::NASA::Schema

=head1 DESCRIPTION

The OpenAPI v3.0.0 specification for NASA's public APIs.

=head1 SCHEMA

The full schema is defined as:

[% raw_yaml %]
